body{
    background-image: url(BGMLBBHero.jpeg);
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(230, 239, 241, 0.5); 
    border-radius: 5px; 
}

.judul{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightblue;
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 10px; 
    width: 200px;
    padding: 5px;
}

.judul-1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    text-align: center;
}

.image-container{
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.Skin{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 100px;
    padding-bottom: 40px;
}

.Skin1{
    width: 50%;
    object-fit:cover;
    border-radius: 10px;
    border: 10px;
    transition: all ease-out 0.5s;
    display: flex;
    filter:drop-shadow(2px 2px 2px black) ;
}

.Skin1:hover{
    width: 100%;
}

.Teks-container{
    display: flex;
}

.ul-Teks{
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightblue;
    border: 2px solid black;  
    width: 800px;
    padding: 5px;
}

.Teks{
    text-align: center;
    justify-content: center;
 }

.costumButton{
    --glow-color: rgb(173, 216, 230); /* lightblue */
    --glow-spread-color: rgba(173, 216, 230, 0.781); /* lightblue with alpha */
    --enhanced-glow-color: rgb(173, 216, 230); /* lightblue */
    --btn-color: rgb(17, 137, 207); /* darkblue */
    border: .25em solid var(--glow-color);
    padding: 10px 10px;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto;
}

.costumButton::after{
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.costumButton:hover{
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 2em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
}

.costumButton:active{
    box-shadow: 0 0 0.6em .25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .5em .25em var(--glow-color);
}

@media only screen and (max-width: 600px) {
    .Skin1 {
        width: 10%;
    }
    .Skin{
        width: 100%;
    }
    .Skin1:hover{
        width: 100%
    }
    
}

.slide-in {
    animation: slideInLeft 0.5s ease;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}




